#root {
  height: 100vh;
}

body {
  margin: 0;
}

/* moves helper text to the very left */
.MuiFormHelperText-root {
  margin-left: 0 !important;
}

/* scrollbar css */
.scrollBar::-webkit-scrollbar {
  width: 10px;
}

.scrollBar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #c2c9d2;
}
